body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px;
}
h1 {
  text-align: center;
}
.card {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.card-body {
  padding: 20px;
}
